<?xml version="1.0" ?>
<!--
/**
 * ACedraz
 *
 * @category  ACedraz
 * @package   CustomerImport
 * @version   1.0.1
 * @author    Aislan Cedraz <aislan.cedraz@gmail.com.br>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="ACedraz\CustomerImport\Api\ProfileRepositoryInterface"
                type="ACedraz\CustomerImport\Model\ProfileRepository"/>
    <preference for="ACedraz\CustomerImport\Api\Data\ProfileInterface"
                type="ACedraz\CustomerImport\Model\Data\Profile"/>
    <preference for="ACedraz\CustomerImport\Api\Data\ProfileSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="acedraz_customerimport_profile_listing_data_source" xsi:type="string">ACedraz\CustomerImport\Model\ResourceModel\Profile\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="ACedraz\CustomerImport\Model\ResourceModel\Profile\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="const">ACedraz\CustomerImport\Model\ResourceModel\Profile::TABLE</argument>
            <argument name="resourceModel" xsi:type="string">ACedraz\CustomerImport\Model\ResourceModel\Profile\Collection</argument>
        </arguments>
    </virtualType>
</config>
